{% extends 'BlogBundle::base.html.twig' %}
{% block content %}
<!DOCTYPE html>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{asset('bundles/blog/img/home-bg.jpg')}}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Clean Blog</h1>
                        <hr class="small">
                        <span class="subheading">A Clean Blog powered by Symfony3</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              {% for post in posts %}
                <div class="post-preview">
                    <a href="{{ path('post', { 'id' : post.id })}}">
                        <h2 class="post-title">
                            {{post.title}}
                        </h2>
                    </a>
                    <span class="post-subtitle">
                        {{post.text | truncate(200, true)|raw}}
                    </span>

                  <p class="post-meta"><i><a style="text-decoration: none" href="{{ path('category', { 'name' : post.category.name })}}">{{post.category.name}}</a></li></i>, Posted by <a href=" {{path('author', { 'name' : post.author.username })}}">
                </div>
                {% endfor %}
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-2">
              <h4>Kategorie</h4><hr>
              <ul>
                <ul class="list-unstyled">
                  {% for category in cat %}
                  <li class="text-muted"><a href="{{ path('category', { 'name' : category.name })}}">{{category.name}}</a></li>
                  {% endfor %}
                </ul>
              </ul>
            </div>
        </div>

    </div>
{% endblock %}
