{% extends 'BlogBundle::base.html.twig' %}
{% block content %}
<!DOCTYPE html>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{asset('bundles/blog/img/home-bg.jpg')}}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{categoryName}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              {% for post in posts %}
                <div class="post-preview">
                    <a href="{{ path('post', { 'id' : post.id })}}">
                        <h2 class="post-title">
                            {{post.title}}
                        </h2>
                    </a>
                        <span class="post-subtitle">
                              {{post.text | truncate(50, true)}}
                        </span>

                    <p class="post-meta">Posted by <a href="">{{post.author.username}}</a> on {{post.date|date('d/m/y')}}</p>
                </div>
                {% endfor %}
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
{% endblock %}
