<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{asset("bundles/blog/bower_components/bootstrap/dist/css/bootstrap.min.css")}}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{asset("bundles/blog/bower_components/metisMenu/dist/metisMenu.min.css")}}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{asset("bundles/blog/dist/css/sb-admin-2.css")}}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{asset("bundles/blog/bower_components/font-awesome/css/font-awesome.min.css")}}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('index')}}">Back to blog</a>
            </div>
            <!-- /.navbar-header -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="{{ path('admin')}}"><i class="fa fa-bar-chart-o fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-pencil-square-o"></i><strong> New</strong><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{{ path('add_post')}}">Article</a>
                                </li>
                                <li>
                                    <a href="{{ path('add_category')}}">Category</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="{{path('display_posts')}}"><i class="fa fa-clipboard"></i> Articles</a>
                        </li>
                        <li>
                            <a href="{{path('display_categories')}}"><i class="fa fa-bars"></i> Categories</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">{% block pageheader %}{% endblock %}</h1>
                        {% block content %}{% endblock %}
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{asset("bundles/blog/bower_components/jquery/dist/jquery.min.js")}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{asset("bundles/blog/bower_components/bootstrap/dist/js/bootstrap.min.js")}}"></script>



    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{asset("bundles/blog/bower_components/metisMenu/dist/metisMenu.min.js")}}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{asset("bundles/blog/dist/js/sb-admin-2.js")}}"> </script>
    {% block scripts %}{% endblock %}
</body>

</html>
