{% extends 'BlogBundle::adminbase.html.twig' %}
{% block pageheader %}New category{% endblock %}
{% block content %}
{% for flash_message in app.session.flashBag.get('new-category') %}
    <div class="alert alert-success" role="alert">
      <strong>Oh yeah!!!</strong> {{ flash_message }}
    </div>
{% endfor %}
<div class="row">
  <div class="col-lg-6">
    {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
      <fieldset class="form-group" >
        {{ form_label(form.name, 'Title: ')}}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
      </fieldset>
      <button type="submit" class="btn btn-primary btn-outline">Add category!</button>
    {{ form_end(form)}}
  </div>
</div>
{% endblock %}
