{% extends 'BlogBundle::adminbase.html.twig' %}
{% block pageheader %}New article{% endblock %}
{% block content %}
<div class="row">
{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
    <div class="col-lg-8">
      <div class="form-group">
        {{ form_label(form.title, 'Titile: ')}}
        {{form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="form-group">
        {{form_widget(form.text | raw, {'attr': {'class': 'form-control', 'rows': '18'}}) }}
      </div>
    </div>

    <div class="col-lg-3">
      <h3>Category</h3>
        <div class="form-group">
          {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-outline btn-success btn-lg" name="submit" formvalidate="true" value="Create!">
        </div>
    </div>
    {{form_end(form)}}
</div>
{% endblock %}

{% block scripts %}
    <script src="{{asset("bundles/blog/tinymce/tinymce.min.js")}}" charset="utf-8"></script>
    <script>
      tinymce.init({
         selector:'textarea',
         entity_encoding: "raw"
       });
    </script>
{% endblock %}
