{% extends 'BlogBundle::adminbase.html.twig' %}
{% block title %} Admin Dashboard {% endblock %}
{% block pageheader %}Dashboard{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <h3>Last 7 days views</h3>
        <div id="weakly-views"></div>

          <h3 style="margin-top: 40px;">Most popular articles</h3>
          <div id="most-popular"></div>
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-5 pull-right">
        <h3>Last Articles</h3>
        {% for flash_message in app.session.flashBag.get('deleted') %}
        <div class="flash-notice">
            <div class="alert alert-success">
              {{ flash_message }}
            </div>
        </div>
        {% endfor %}
        {% for post in last_posts %}
          <div class="panel panel-success">
              <div class="panel-heading">
                  {{post.title}}<span class="pull-right"><i class="fa fa-user" aria-hidden="true"> </i> {{post.author.username}}</span>
              </div>
              <div class="panel-body">
                  {% autoescape %}
                    {{post.text| truncate(260, true)|raw}}
                  {% endautoescape %}
              </div>
              <div class="panel-footer">
                  <a class="btn btn-outline btn-success" href="{{path('edit_post', {'id': post.id})}}">Edit</a>
                  <a class="btn btn-outline btn-danger" href="{{path('delete_post', {'id': post.id})}}">Delete</a>
              </div>
          </div>
        {% endfor %}
        <!--  -->
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{asset("bundles/blog/bower_components/raphael/raphael-min.js")}}"></script>
<script src="{{asset("bundles/blog/bower_components/morrisjs/morris.min.js")}}"></script>
<script src="{{asset("bundles/blog/js/morris-data.js")}}"></script>
<script type="text/javascript">
Morris.Line({
element: 'weakly-views',
data: [
        {y: '2016-07-07', a: 123},
        {y: '2016-07-08', a: 60},
        {y: '2016-07-09', a: 89},
        {y: '2016-07-10', a: 79},
        {y: '2016-07-11', a: 95},
        {y: '2016-07-12', a: 30},
        {y: '2016-07-13', a: 60}
],
xkey: 'y',
ykeys: ['a'],
labels: ['Views']
});
</script>

<script type="text/javascript">
Morris.Bar({
  element: 'most-popular',
  data: [
    {% for post in most_popular %}
      { y: '{{post.title}}', a: {{post.views}} },

    {% endfor %}

  ],
  xkey: 'y',
  ykeys: ['a'],
  labels: ['Views:']
});
</script>

{% endblock %}
