{% extends 'BlogBundle::adminbase.html.twig' %}
{% block pageheader %}Categories{% endblock %}
{% block content %}
{% for category in categories %}
<div class="col-lg-4">
    <div class="panel panel-success">
        <div class="panel-heading">
          <div class="row">
              <div class="col-lg-8">
                <h5><strong>{{category.name}}<strong></h5>
              </div>
              <div class="col-lg-4" style="margin-top: 5px;">
                <a href="{{path('edit_category', {'id': category.id}) }}" class="btn btn-primary btn-circle"><i class="fa fa-pencil" style="color: white"> </i></a>
                <a href="{{path('delete_category', {'id': category.id}) }}" class="btn btn-danger btn-circle"><i class="fa fa-times" style="color: white"> </i></a>
              </div>
          </div>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}
