{% extends 'BlogBundle::adminbase.html.twig' %}
{% block content %}
<div class="row">

  {% for post in posts %}
  {% if loop.index is divisibleby(4)%} <div class="row">

  </div> {% endif %}
    <div class="col-lg-4">
        <div class="panel panel-yellow" >
            <div class="panel-heading">
                {{post.title}} <span class="pull-right">{{post.date | date('d/m/y')}}</span>
            </div>
            <div class="panel-body" style="min-height: 160px">
                {{post.text | truncate(230, true)|raw}}
            </div>
            <div class="panel-footer">

              <a href="{{path('edit_post', {'id': post.id})}}" class="btn btn-primary btn-circle"><i class="fa fa-pencil" style="color: white"></i></a>
              <a class="btn btn-danger btn-circle"><i class="fa fa-times" style="color: white"></i></a>

              <span class="pull-right text-muted">Author: {{post.author.username}}</span>
            </div>
        </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
