{% extends 'BlogBundle::adminbase.html.twig' %}
{% block pageheader %}Edit category{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-6">
    {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
      <fieldset class="form-group" >
        {{ form_label(form.name, 'Title: ')}}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
      </fieldset>
      <button type="submit" class="btn btn-primary btn-outline">Edit category!</button>
    {{ form_end(form)}}
  </div>
{% endblock %}
