{% extends 'BlogBundle::adminbase.html.twig' %}
{% block content %}
<h4>Add post</h4>
<hr>

{% for flash_message in app.session.flashBag.get('deleted') %}
    <div class="alert alert-success" role="alert">
      <strong>Oh yeah!!!</strong> {{ flash_message }}
    </div>
{% endfor %}

{{ form_start(form) }}
<fieldset class="form-group">
  {{ form_label(form.title, 'Title: ')}}
  {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
</fieldset>
<fieldset class="form-group">
  {{ form_label(form.text, 'Article: ')}}
  {{ form_widget(form.text, {'attr': {'class': 'form-control'}}) }}

</fieldset>
<fieldset class="form-group">
  {{ form_label(form.category, 'Category: ')}}
  {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
</fieldset>
  <button type="submit" class="btn btn-success">Add post!</button>
{{ form_end(form)}}

{% endblock %}
