{% extends 'BlogBundle::base.html.twig' %}
{% block content %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{asset('bundles/blog/img/post-bg.jpg')}}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{post.title}}</h1>
                        <span class="meta">Posted by <a href="#">{{post.author.username}}</a> on {{post.date | date('d/m/y')}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>
                      {{post.text|raw}}
                    </p>
                </div>
            </div>
        </div>
    </article>

    <hr>
{% endblock %}
