<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
      <!-- Bootstrap Core CSS -->
      <link href="{{ asset('bundles/blog/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

      <!-- Theme CSS -->
      <link href="{{ asset('bundles/blog/css/clean-blog.min.css')}}" rel="stylesheet">

      <!-- Custom Fonts -->
      <link href="{{ asset('bundles/blog/vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
      <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

      <style media="screen">
        .wrapper {
        margin-top: 80px;
        margin-bottom: 20px;
        }

        .form-signin {
        max-width: 420px;
        padding: 30px 38px 66px;
        margin: 0 auto;
        background-color: #eee;
        border: 3px dotted rgba(0,0,0,0.1);
        }

        .form-signin-heading {
        text-align:center;
        margin-bottom: 30px;
        }

        .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        }

        input[type="text"] {
        margin-bottom: 0px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        }

        input[type="password"] {
        margin-top: 3px;
        margin-bottom: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        }

        .colorgraph {
        height: 7px;
        border-top: 0;
        background: #c4e17f;
        border-radius: 5px;
        }
      </style>
  </head>
  <body>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class = "container">
    	<div class="wrapper">
    		<form action="{{ path('login')}}" method="post"  class="form-signin">
    		    <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
    			  <hr class="colorgraph"><br>

    			  <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="Login" autofocus="true"/>
    			  <input type="password" class="form-control" type="password" id="password" name="_password" placeholder="password"/>

    			  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Login</button>
    		</form>
    	</div>
  </div>
  </body>
</html>
